.con{
	display: flex;
	gap: 10px;
}

.col{
	flex: 1;
	padding: 20px;
	text-align: center;
}

.con1{
	display: flex;
	gap: 10px;
}

.con2{
	display: flex;
	gap: 10px;
}

.con3{
	display: flex;
	gap: 10px;
}

img {
	border-radius: 100%;
	border: 6px solid #00003b;
	box-shadow: 5px 10px #000051 ;
}

h1{
    text-align: center;
    color: #EEEEEE;
    font-size: 50px;
    text-shadow: 5px 5px #00003b;
    font-family: "bungee";
    
}

h3 {
	font-family: "archivo black";
	font-size: 22px;
	color: #c9d5db;
	text-shadow: 2px 2px black;
}

.but{
	text-align: center;
	margin: auto;
	padding: auto;
}

button{
	height: 50px;
	width: 100px;
	border: 3px solid black;
}
